main {
    padding-top: 120px;
    /* text-align: center; */
}

.box {
    background-color: #cfcfcf;
    /* display: inblock; */
    min-width: 200px;
    width: max-content;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    float: left;
}

.field {
    position: relative;
    margin-bottom: 20px;
}

.field label {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
}

.field input, select, .switch {
    margin-top: 25px;
}

/* option {
    padding: 10px;
} */

input, select {
    padding: 10px;
    /* font-size: 16px; */
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    color: #fff;
    background-color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 23.8px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #686868;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18.2px;
    width: 18.2px;
    left: 2.8px;
    bottom: 2.8px;
    background-color: white;
    transition: .2s;
}

input:checked + .slider {
    background-color: #16bd3a;
}

input:checked + .slider:before {
    transform: translateX(18.2px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}