main {
    padding-top: 80px;
    /* text-align: center; */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.spinner {
    position: fixed;
    top: 50%;
    left: calc(50% - 16px);
    z-index: 100;
}

#viewer {
    /* display: none; */
    padding: 20px 0;
    padding-bottom: 80px;
    position: relative;
}

#viewer #big-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    /* gap: 20px; */
}

.box {
    background-color: #cfcfcf;
    width: calc(100% - 80px);
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
}

.box:nth-child(1) {
    grid-column: span 3;
}

.box:nth-child(2) {
    grid-row: 2 / span 3;
}

/* .box:nth-child(n+3):nth-child(-n+5) {
    grid-column: 2;
}

.box:nth-child(n+6):nth-child(-n+8) {
    grid-column: 3;
} */

.field {
    position: relative;
    margin-bottom: 20px;
}

.field label {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
}

.field input, select, .switch {
    margin-top: 25px;
}

/* option {
    padding: 10px;
} */

input, select {
    padding: 10px;
    /* font-size: 16px; */
}

#viewer {
    position: relative;
    overflow: hidden; /* Add this */
}

.array-field {
    min-height: 10px;
}

.add-button {
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 2px 3px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: all .2s;
}

.add-button:hover {
    background-color: #000000;
    color: #ffffff;
}

.add-button:active {
    transform: translateY(2px);

}

.add-button::before {
    content: "✛";
    /* padding: 7px; */
}

.array li:first-child input{
    margin-top: 30px;
}

.array li:not(:first-child) input {
    margin-top: 5px;
}

.array li span {
    padding: 0 3px;
}

.array li span::after {
    content: "✕";
    padding: 7px;
    color: #000000;
    cursor: pointer;
}

.array li span:hover::after {
    color: #eb1414;
}


#buttons {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    background-color: #b6270bd0;
    border-radius: 8px;
    
    backdrop-filter: blur(1px);
    /* transition: all 5s; */
    opacity: 0;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up {
    animation: slideUp 0.5s ease-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut .5s ease-out forwards;
}

#cancel {
    font-size: 12px;
    padding: 3px 6px;
    background-color: #ffffff;
    color: #eb1414;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
}

#cancel:hover {
    background-color: #d33636;
    color: #ffffff;
}

#save {
    font-size: 28px;
    padding: 3px 6px;
    background-color: #ffffff;
    color: #383838;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
}

#save:hover {
    background-color: #383838;
    color: #ffffff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 23.8px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #686868;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18.2px;
    width: 18.2px;
    left: 2.8px;
    bottom: 2.8px;
    background-color: white;
    transition: .2s;
}

input:checked + .slider {
    background-color: #16bd3a;
}

input:checked + .slider:before {
    transform: translateX(18.2px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


@media (max-width: 1024px) {
    #viewer #big-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .box:nth-child(1) {
        grid-column: span 2;
    }
    
    .box:nth-child(2) {
        grid-row: 2 / span 2;
    }
}

@media (max-width: 768px) {
    #viewer #big-box {
        grid-template-columns: 1fr;
    }

    .box:nth-child(1) {
        grid-column: span 1;
    }
    
    .box:nth-child(2) {
        grid-row: 2 / span 1;
    }
}