.users-wrapper {
    text-align: center;
    background-color: #e7e7e7;
    height: 1500px;
}

.heading {
    padding-top: 90px;
}

.heading h2 {
    font-weight: normal;
}

.user {
    margin: 90px auto;
    float: left;
    width: 33.334%;
    height: 150px;
}

.user-icon {
    height: 128px;
    border-radius: 50%;
}

.buttons ul {
    list-style: none;
    padding-left: 0;
}

.buttons img {
    height: 16px;
    background-color: #aaaaaa;
    padding: 7px 12px;
    border-radius: 6px;
    margin: 0 12px;
    box-shadow: 3px 3px #727272;
    transition: all .3s;
}

.buttons img:hover {
    background-color: #cecece;
    box-shadow: 3px 3px #a0a0a0;
}

.buttons img:active {
    background-color: #cecece;
    position: relative;
    box-shadow: none;
    top: 3px;
    left: 3px;
}

.buttons ul{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}



.user-content {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
}