/* wrapper */
.information-wrapper {
    text-align: center;
    padding-top: 90px;
    background-color: #e7e7e7;
}

.how-to-play-wrapper {
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #e7e7e7;
    text-align: center;
}

.how-to-play {
    float: left;
    width: 50%;
    position: relative;
}

.how-to-play-content {
    background-color: #b3b3b3;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.how-to-play-content p {
    margin: 0 auto;
    width: 90%;
}

.developer-team {
    text-align: center;
    background-color: #e7e7e7;
}

.developer-team ul {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.developer-team a {
    background-color: #aaaaaa;
    display: inline-block;
    padding: 10px 20px;
    margin: 30px 0;
    border-radius: 6px;
    color: #000;
}

.developer-team a:hover {
    background-color: #cdcdcd;
}

@media (max-width: 670px) {
    /* wrapper */
    .how-to-play {
        width: 100%;
    }
}