body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN"; 
}

a {
    text-decoration: none; 
}

* {
    margin: 0; 
}

.container {
    width: 1170px;
    padding: 0px 15px;
    margin: 0 auto; 
}

.fa {
    margin-right: 5px; 
}

.underline-anime a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.underline-anime a::after {
    position: absolute;
    bottom: 3px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #000000;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
}

.underline-anime a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

/* header */

header {
    /* text-align: center; */
    height: 65px;
    width: 100%;
    background-color: #b6280be7; 
    position: fixed;
    top: 0;

    z-index: 10;
}

.logo {
    width: 180px;
    margin-top: 7px; 
}

.header-left {
    float: left; 
}

.header-right {
    margin-top: 12px;
    border-radius: 5px;
    float: right;
    transition: all 0.5s;
    background-color: rgba(238, 61, 37, 0.5); 
}  
 
.header-right:hover {
    background-color: rgba(255, 79, 56, 0.942); 
}

.header-right a {
    line-height: 40px;
    
    padding: 0 25px;
    color: white;
    display: block; 
}

/* footer */

footer {
    background-color: #bababa;
    color: #000;
    height: 260px;   
}

.footer-left {
    float: left;
}

.footer-title {
    padding-top: 80px;
    color: #000;
}

.footer-title img {
    border-radius: 50%;
    height: 50px;
    float: left;
}

.footer-title h2 {
    padding: 10px 0px 10px 60px;
    color: #000;
}

.footer-description {
    padding-top: 3px;
    font-size: 12px;
}

.footer-right {
    padding: 80px 0px 0px 500px;
}

.footer-link {
    float: left;
    padding: 0px 50px;
    
}

.footer-link ul {
    list-style: none;
    padding-left: 0;
}

.footer-link a {
    color: #000;
}

/* copyright */
.copyright {
    padding: 20px 0px;
    height: 23px;
    background-color: #000;
}

.copyright p {
    float: right;
    color: #fff;
}

/* other */

.text-green { color: green; }

.text-white { color: white; }

.text-black { color: black; }

.text-bold { font-weight: bold; }

.bg-red { background-color: #ff5858; }

.bg-blue { background-color: #4949ff; }

.bg-green { background-color: #44bc44; }

.circle-img img { border-radius: 50%; }

.nowrap { white-space: nowrap; }