body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";

    min-height: 100vh; /*画面の高さの最小値を指定*/
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    /* box-sizing: border-box; */
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    /* padding: 0px 15px; */
    margin: 0 auto;
}

.fa {
    margin-right: 5px;
}

.underline-anime a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.underline-anime a::after {
    position: absolute;
    bottom: 3px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #000000;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}

.underline-anime a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

.spinner {
    width: 32px;
    height: 32px;
    margin: 10px auto;
    border: 4px #ddd solid;
    border-top: 4px #5d5d5d solid;
    border-radius: 50%;
    animation: sp-anime 1s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

/* header */

header {
    /* text-align: center; */

    height: 65px;
    width: 100%;
    background-color: #b6280be7;
    position: fixed;
    top: 0;

    z-index: 10;
}

.logo {
    width: 180px;
    margin-top: 20px;
}

.header-left {
    float: left;
}

nav {
    display: none;
}

#nav-header {
    float: right;

    display: block;
}

#nav-header li {
    float: left;
    list-style: none;
    font-size: 18px;
}

#nav-header li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#nav-header a {
    display: block;
    padding: 19px;
    color: #fff;
}

.nav {
    position: relative;
    width: 100%;
}

#nav-menu {
    display: none;
    position: absolute;
    top: 70px;
    background-color: white;
    width: 20%;
    right: 0;
    border-radius: 12px;
}

#nav-menu ul {
    list-style: none;
    padding-left: 0;
}

#nav-menu li {
    text-align: center;
    border-bottom: 1px solid #000;
}

#nav-menu a {
    display: block;
    padding: 10px 0px;
    color: #000;
}

.header-right {
    margin-top: 13px;
    border-radius: 5px;
    float: right;
    transition: all 0.5s;
    background-color: rgba(238, 61, 37, 0.5);
}

.header-right:hover {
    background-color: rgba(255, 79, 56, 0.942);
}

.header-right a {
    line-height: 40px;

    padding: 0 25px;
    color: white;
    display: block;
}

.menu {
    display: none;
    float: right;
    margin: 20px 20px 0 0;
}

.menu-stick {
    float: none;
    background-color: white;
    margin-top: 5px;
    height: 4px;
    width: 35px;
    border-radius: 2px;
    transition: all 0.3s;
}

.menu:active .menu-stick {
    background-color: #838383;
}

.menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main {
    flex-grow: 1; /*要素が少ないときに縦に伸びる*/
    /* padding-top: 120px; */
}

/* footer */

.footer {
    background-color: #bababa;
    color: #000;
    height: 260px;
}

.footer-left {
    float: left;
}

.footer-title {
    padding-top: 80px;
    color: #000;
}

.footer-title img {
    border-radius: 50%;
    height: 50px;
    float: left;
}

.footer-title h2 {
    padding: 10px 0px 10px 60px;
    color: #000;
}

.footer-description {
    padding-top: 3px;
    font-size: 12px;
}

.footer-right {
    padding: 80px 0px 0px 500px;
    /* float: right; */
}

.footer-link {
    float: left;
    padding: 0px 30px;
}

.footer-link ul {
    list-style: none;
    padding-left: 0;
}

.footer-link a {
    color: #000;
}

/* copyright */
.copyright {
    padding: 20px 0px;
    height: 23px;
    background-color: #000;
}

.copyright p {
    float: right;
    color: #fff;
}

@media (max-width: 1000px) {
    /* header */

    header {
        height: 70px;
    }

    #nav-header {
        display: none;
    }

    #nav-menu {
        width: 100%;
        border-radius: 0;
    }

    .logo {
        width: 180px;
        margin-top: 23px;
        margin-left: 18px;
    }

    .header-right {
        display: none;
    }

    .menu {
        display: block;
    }

    /* footer */

    .footer {
        text-align: center;
        height: auto;
    }

    .footer-left {
        float: none;
    }

    .footer-title {
        display: inline-block;
        padding-top: 50px;
    }

    .footer-title h2 {
        padding: 8px 0px 10px 60px;
    }

    .footer-right {
        padding: 45px 0px 0px 0px;
    }

    .footer-link {
        float: none;
        padding-bottom: 30px;
    }

    .footer-link ul {
        padding: 10px 0;
    }

    /* copyright */
    .copyright {
        text-align: center;
        padding: 5px 0px;
        height: 16px;
    }

    .copyright p {
        float: none;
        font-size: 10px;
    }
}

@media (max-width: 670px) {
    /* header */

    header {
        height: 70px;
    }

    .logo {
        width: 180px;
        margin-top: 23px;
        margin-left: 18px;
    }

    .header-right {
        display: none;
    }

    .menu {
        display: block;
    }

    /* footer */

    .footer {
        text-align: center;
        height: auto;
    }

    .footer-left {
        float: none;
    }

    .footer-title {
        display: inline-block;
        padding-top: 50px;
    }

    .footer-title h2 {
        padding: 8px 0px 10px 60px;
    }

    .footer-right {
        padding: 45px 0px 0px 0px;
    }

    .footer-link {
        float: none;
        padding-bottom: 30px;
    }

    .footer-link ul {
        padding: 10px 0;
    }

    /* copyright */
    .copyright {
        text-align: center;
        padding: 5px 0px;
        height: 16px;
    }

    .copyright p {
        float: none;
        font-size: 10px;
    }
}
