/* wrapper */
/* form-wrapper */
.form-wrapper {
    text-align: center;
    padding-top: 90px;
    background-color: #cccccc;
}

.button a {
    display: inline-block;
    background-color: #535353;
    color: #ededed;
    padding: 12px 32px;
    border-radius: 7px;
}

.button h3 {
    font-weight: normal;
}
