/* wrapper */
/* top-wrapper */

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(../images/unknown-link.webp);
    background-color:#0000006d;
    background-blend-mode: darken;


    color: white;
    background-size: cover;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.8;
    font-size: 45px;
    letter-spacing: 5px;
}

.top-wrapper p {
    opacity: 0.8;
}

.button-wrapper {
    margin: 20px 0;
}

.button-wrapper p {
    margin: 10px 0;
}

.login {
    background-color: #5865F2;
}

.discord {
    margin-left: 12px;
    background-color: #5865F2;
}

.premium {
    margin-left: 10px;
    background-color: #f1a20f;
}

.top-button {
    padding: 8px 28px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.top-button:hover {
    opacity: 1;
}

/* projects-wrapper */

.projects-wrapper {
    height: 1000px;
    padding-bottom: 80px;
    background-color: #e7e7e7;
    text-align: center;
    
}
  
.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}
  
.heading h2 {
    font-weight: normal;
}
  
.project {
    float: left;
    width: 25%;
    position: relative;
}

.project-button p {
    background-color: #afafaf;
    padding: 10px 0;
    width: 256px;
    margin: 0 20px;
    border-radius: 4px;
    color: black;
    display: block;
    transition: all 0.5s ease;
    transform: scale(1);
}

.project-button a {
	position: absolute;
	top: 275px;
	left: 20px;
	background-color:  #949494;
    padding: 10px 0;
    width: 256px;
    border-radius: 4px;
    color: black;
    display: block;
	transition: all 0.4s ease;
	transform: scale(0);
}

.project-button:hover a {
	transform: scale(1);
}

.project-button:hover p {
	transform: scale(0);
}

.project-icon img {
    width: 256px;
    height: 256px;
    margin-bottom: 12px;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    color: #888888;
}

/* message-wrapper */
.heading h3 {
    font-weight: normal;
}

.message-wrapper {
    text-align: center;
    height: 350px;
    padding-bottom: 80px;
    background-color: #e7e7e7;
}

.message-button {
    color:#ffffff;
    background-color: #009805;
    padding: 15px 40px;
    border-radius: 7px;
    box-shadow: 0 7px #005221;
}

.message-button:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}

