body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a {
    text-decoration: none;
}

* {
    margin: 0;
}

.container {
    /* width: 1170px; */
    padding: 0px 15px;
    margin: 0 auto;
}

.fa {
    margin-right: 5px;
}

/* header */

header {
    height: 65px;
    background-color: #b6280be7;
}

.logo {
    width: 180px;
    margin-top: 7px;
}

.header-left {
    float: left;
}

.header-right {
    margin-top: 12px;
    border-radius: 5px;
    float: right;
    transition: all 0.5s;
    background-color: rgba(238, 61, 37, 0.5);
}  
 
.header-right:hover {
    
    background-color: rgba(238, 61, 37, 0.8);
}

.header-right a {
    line-height: 40px;
    
    padding: 0 25px;
    color: white;
    display: block;
}

/* wrapper */

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(../images/unknown-link.png);
    color: white;
    background-size: cover;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.8;
    font-size: 45px;
    letter-spacing: 5px;
}

.top-wrapper p {
    opacity: 0.8;
}

.button-wrapper {
    margin: 20px 0;
}

.button-wrapper p {
    margin: 10px 0;
}

.login {
    background-color: #5865F2;
}

.discord {
    margin-left: 12px;
    background-color: #5865F2;
}

.premium {
    margin-left: 10px;
    background-color: #f1a20f;
}

.button {
    padding: 8px 28px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.button:hover {
    opacity: 1;
}

/* footer */

/* text color */

.text-green {
    color: green;
}

