body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a {
    text-decoration: none;
}

* {
    margin: 0;
}

.container {
    width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;
}

.fa {
    margin-right: 5px;
}

/* header */

header {
    height: 65px;
    background-color: #b6280be7;
}

.logo {
    width: 180px;
    margin-top: 7px;
}

.header-left {
    float: left;
}

.header-right {
    margin-top: 12px;
    border-radius: 5px;
    float: right;
    transition: all 0.5s;
    background-color: rgba(238, 61, 37, 0.5);
}  
 
.header-right:hover {
    
    background-color: rgba(255, 79, 56, 0.942);
}

.header-right a {
    line-height: 40px;
    
    padding: 0 25px;
    color: white;
    display: block;
}

/* wrapper */
/* top-wrapper */

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(../images/unknown-link.png);
    color: white;
    background-size: cover;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.8;
    font-size: 45px;
    letter-spacing: 5px;
}

.top-wrapper p {
    opacity: 0.8;
}

.button-wrapper {
    margin: 20px 0;
}

.button-wrapper p {
    margin: 10px 0;
}

.login {
    background-color: #5865F2;
}

.discord {
    margin-left: 12px;
    background-color: #5865F2;
}

.premium {
    margin-left: 10px;
    background-color: #f1a20f;
}

.button {
    padding: 8px 28px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.button:hover {
    opacity: 1;
}

/* projects-wrapper */

.projects-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
    
}
  
.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}
  
.heading h2 {
    font-weight: normal;
}
  
.project {
    float: left;
    width: 25%;
    position: relative;
}

.project-button p {
    background-color: #afafaf;
    padding: 10px 0;
    margin: 0 20px;
    border-radius: 4px;
    color: black;
    display: block;
    transition: all 0.5s ease;
    transform: scale(1);
}

.project-button a {
	position: absolute;
	top: 275px;
	left: 20px;
	background-color:  #afafaf;
    padding: 10px 88px;
    /* margin: 0 20px; */
    border-radius: 4px;
    color: black;
    display: block;
	transition: all 0.4s ease;
	/* -webkit-transform: scale(0); */
	transform: scale(0);
}

.project-button:hover a {
    /* -webkit-transform:	scale(1); */
	transform: scale(1);
}

.project-button:hover p {
    /* -webkit-transform:	scale(1); */
	transform: scale(0);
}

.project-icon img {
    width: 256px;
    height: 256px;
    margin-bottom: 12px;
}

/* footer */

/* other */

.text-green {
    color: green;
}

.circle-img img {
    border-radius: 50%;
    
}

.nowrap {
    white-space: nowrap;
}